# Diretórios de build
/build/
/app/build/
/.gradle/
/.idea/

# Arquivos de configuração do Android Studio
/local.properties
/.cxx/
/.externalNativeBuild/
/captures/
/output.json

# Caches do Gradle
/.gradle/
/gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.properties

# Arquivos temporários do sistema
*.iml
*.log
*.class
*.swp
*.swo
*.swn
*.DS_Store

# Arquivos de empacotamento
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.apk
*.aab
*.ipa

# Arquivos gerados pelo compilador
*.dex
*.o
*.so
*.a
*.lib

# Arquivos de teste gerados
androidTest/
test/

# Configurações do MacOS/Linux
**/.DS_Store
**/._*

# Arquivos de crash do Java
hs_err_pid*
replay_pid*
